PORT=8004
JWT_SECRET=readme_jwt_secret_compartido_2026
MS1_URL=http://localhost:8001
MS2_URL=http://localhost:8002
MS3_URL=http://localhost:8003
MS6_URL=http://ms6-transactions:8006
RESEND_API_KEY=re_tu_api_key
EMAIL_FROM=ReadMe <onboarding@resend.dev>
